body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 9, 78);
    height: 100vh;
}

h1 {
    font-size: 12rem;
}

.letter {
    transition: color 1000ms;
}